.widget-pagenation{}
.widget-pagenation .page-list{
	float:left;
}
.widget-pagenation .page-list li{
	display:inline-block;
	margin-right: 4px;
}
.widget-pagenation .page-list a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	border: 1px solid #dcdcdc;
	padding: 0 7px;
	vertical-align: top;
	background-color: #fff;
	text-decoration:none;
}
.widget-pagenation .page-list .ellipsis{font-family: Tahoma;}
.widget-pagenation .page-list .active{
	font-size: 14px;
	font-weight: 700;
	background: #5f8acf;
	border-color: #5f8acf;
	color: #fff !important;
	cursor: default;
}
.widget-pagenation .page-list .prev-disable,
.widget-pagenation .page-list .next-disable
{
	border-color: #dcdcdc;
	color:#999;
	cursor:default;
}
.widget-pagenation .page-stat{
	float:left;
}
.widget-pagenation .page-stat .page-total,
.widget-pagenation .page-stat .page-jump{vertical-align:middle;}
.widget-pagenation .page-stat .input{
	width:30px;
	margin:0 4px;
}
.widget-pagenation .page-stat .page-total .value{margin:0 2px;}
